body {
    font-family: Arial;
    margin: 20px;
}

form input, form button {
    margin-right: 10px;
}

h1 {
    color: #2c3e50;
}

ul {
    list-style-type: none;
}

body {
    background-color: #f0f8ff; /* Bleu clair */
    font-family: Arial, sans-serif;
    padding: 20px;
}
